body, html {
  background-image: url("../img/portland2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.padding-container {
  padding-bottom: 50px;
}

.home-title {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
}

.aboutMe-panels {
  background-color: rgba(255, 255, 255, 0.75);
}

.am {
  margin-left: 10px;
}

.done {
  margin-right: 10px;
}

.index-btn {
  text-align: center;
  margin-top: 30px;
}

a{
  color: white;
}

.profile-pic{
  border-radius: 50%;
  width: 150px;
}

.right-panel {
  text-align: right;
}
