body, html {
  background-image: url("../img/portland2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.padding-container {
  padding-bottom: 50px;
}

.jumbotron {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
}

.index-btn {
  text-align: center;
  margin-top: 30px;
}

.profile-pic{
  border-radius: 50%;
  width: 150px;
}

.nav {
  background: transparent;
  border-bottom: 0px;
}
